################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CS6/obj
/CS7/obj
/CS8/bin/Debug/netcoreapp3.1
/CS8/obj
/CS7/bin/Debug/netcoreapp3.1
/CS6/bin/Debug/netcoreapp3.1
